/* Css will go here */
.cards {
  display: grid;
  grid-template-columns: 6fr 6fr 6fr;
  gap: 20px;
  padding: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: aliceblue;
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
  border :4px solid #9657A8;
  border-radius: 22px;
  box-shadow:
    0 4px 8px rgba(0, 0, 0, 0.1),
    0 6px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.card p {
  flex-grow: 1;
  margin: 8px 0;
}

.card img {
  /* Essential image styles */
  width: 160px; /* Image takes the full width of the card container */
  height: 160px; /* Example fixed height for uniform cards */
  object-fit: cover; /* Crops the image to cover the area while maintaining aspect ratio */

  /* Optional: Round the top corners of the image to match the card */
  border-radius: 26px;
  align-self: center;
}

.cart-panel button.close-btn {
  margin-top: auto;
}

button{
  background: #9657A8;
  color: white;
  border: none;
  border-radius: 14px;
    padding: 4px 8px;
}

.cart-panel {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: -350px;
  width: 320px;
  height: 100%;
  background: #fff;
  box-shadow: -2px 0 8px rgba(0,0,0,0.2);
  border :4px solid #9657A8;
  z-index: 100;
  transition: right 0.3s ease;
  padding: 20px;
  overflow-y: auto;
}

.cart-panel.open {
  right: 0;
}

.cart-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  z-index: 99;
}

.cartItem {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 12px;
}

.cart-item .removeAll {
  margin-left: auto;
}

.Header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 20px;
  position: sticky;
  top: 0;
  background: #fff;
  border :4px solid #9657A8;
  border-radius: 32px;
  z-index: 10;
  padding: 0px 30px;
}

.FullPage{
  background-color: #69A857;
}

body {
  background-color: #69A857;
}